{{#each validations as |validation|}}
  {{#if validation.error.isFulfilled}}
    <li>
      {{#if hasBlock}}
        {{yield validation.error.content}}
      {{else}}
        {{validation.error.content}}
      {{/if}}
    </li>
  {{/if}}
{{/each}}
